$theme-colors: (
    "primary": hsl(178, 100%, 50%),
    "secondary-dark": hsl(217, 54%, 11%),
    "light": hsl(0, 0%, 100%),
    "dark": hsl(216, 50%, 16%),
    "": hsl(215, 32%, 27%)
);

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
@import "../node_modules/bootstrap/scss/bootstrap";

$third: hsl(215, 32%, 27%);


body {
    min-height: 100vh;
}

.container {
    font-family: 'Outfit';

    .card {

        .card-title {
            font-size: 12px;
            font-weight: 300;
        }

        .card-text {
            font-weight: 300;
            font-size: 10px;
        }

        .components {
            border-bottom: solid 1px $third;

            .etherum {
                font-weight: 400;
                font-size: 9px;
            }

            .object {
                width: 15%;
            }
        }

        .btn {
            font-size: 10px;

            .name {
                font-weight: 300;
            }

            .avatar {
                width: 15%;

            }
        }
    }
}